.gitattributes working-tree-encoding=iso8859-1 git-encoding=iso8859-1
.gitignore working-tree-encoding=iso8859-1 git-encoding=iso8859-1
.npmignore working-tree-encoding=iso8859-1 git-encoding=iso8859-1
*.p12 working-tree-encoding=iso8859-1 git-encoding=iso8859-1
*.json working-tree-encoding=iso8859-1 git-encoding=iso8859-1
*.cc working-tree-encoding=iso8859-1 git-encoding=iso8859-1
*.h working-tree-encoding=iso8859-1 git-encoding=iso8859-1
*.js working-tree-encoding=iso8859-1 git-encoding=iso8859-1